body{
	margin-left: 5%;
	margin-right: 5%;
	background-color:#f7F3F0;
	font-family: 'Source Sans Pro', sans-serif;
}
.page1{
	display:flex;
}
.leftSide{
	width:30%;
}
.rightSide{
	width:70%;
}
.photographerInfo{
	font-family: 'Playfair Display', serif;
}
.photographerName{
	font-weight:700;
	font-size:32px;
	margin-bottom: 0px;
}
.photographerYear{
	font-size:24px;
	margin-top:5px;
}