html{
	scroll-behavior: smooth;
}
body{
	margin-left: 15%;
	margin-right: 15%;
	background-color:#f7F3F0;
	color: #424141;
	font-family: 'Source Sans Pro', sans-serif;
}
.divider{
	margin: 100px 40%;
	opacity: 60%;
}

/* up arrow*/
.upDiv{
	width: 50px;
	position: fixed;
	right: 30px;
	bottom: 20px;
}
.upDiv img{
	width: 100%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*header*/
.logoDiv{
	width: 20%;
	min-width: 150px;
	margin-bottom: 50px;
}
.logoDiv img{
	width: 100%;
}
.title{
	font-family: 'Shrikhand', serif;
	font-size: 2em;
	margin-bottom: 50px;
}
.title p{
	margin: 0;
}
.title-center{
	text-align: center;
}
.photographerList{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 1.25em;
}
.photographerList li{
	padding: 5px;
}
.photographerList a{
	/*text-decoration: underline dotted #AAB8BB;*/
	color: #AAB8BB;
}
.photographerList a:hover{
	text-decoration: underline;
	color: #424141;
}
.header{
	margin-top: 50px;
}
.headerContent{
	display: flex;
	justify-content: space-between;
}
.headerText{
	width: 20%;
}
.headerGraphic{
	width: 60%;
}
.headerGraphic img{
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.headerContent{
		flex-direction: column;
	}
	.headerGraphic{
		order: -2;
	}
}
@media only screen and (max-width: 500px) {
	.page1{
		flex-direction: column;
	}
	.leftSide, .rightSide{
		width: 100%;
	}
	.descriptionRow{
		flex-direction: column;
	}
	.row1{
		flex-direction: column;
	}
	.row1 .photographerInfo{
		order: -5;
	}
}

/*intro*/
.intro{
	margin-top: 60px;
}
/*pages*/
.page1{
	display:flex;
}
.leftSide{
	width:30%;
	/*padding-left: 5%;*/
	padding-right:5%;
}
.rightSide{
	width:70%;
}
.photographerInfo{
	font-family: 'Playfair Display', serif;
	position: relative;
}
.photographerName{
	font-weight:700;
	font-size:32px;
	margin-bottom: 0px;
	margin-top: 16px;
}
.photographerYear{
	font-size:24px;
	margin-top:5px;
}
.leftVerticalPhotos{
	padding-top: 5%;
}
.photos{
	width:100%;
}
.rightBottomPhoto{
	width:60%;
	padding-top:5%; 
}
.row1{
	display:flex;
}
.width30{
	width:30%;
}
.width70{
	width:70%;
}
.rightAlign{
	text-align:right;
	padding-right: 50px;
}
.page{
	/*margin-top: 100px;*/
}
.row2{
	display: flex;
	justify-content: space-between;
}
.rowImgDiv{
	width: 30%;
}
img{
	width: 100%;
}
.fullImgDiv{
	width: 100%;
}
.imgRow{
	margin-bottom: 5%;
}

/*page 3*/
.descriptionRow{
	display: flex;
}
/*.page3 .*/
.page3 .rowImgDiv{
	width: 47%;
}

/*page4*/
.verticalFull{
	width: 60%;
}
.verticalContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
}
.verticalContainer div {
	width: 100%;
}
.columnContainer{
	display: flex;
	justify-content: space-between;
}

/*page5*/
.page5 .rowImgDiv{
	width: 45%;
}
.videoDiv{
	margin-top: 10px;
	position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.page5 iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*page6*/
.vertRowImgDiv{
	width: 23%;
}


/*icons*/
.icon{
	width: 35%;
	position: absolute;
	right: 0;
	top: 2px;
	z-index: -5;
}
.icon-left{
	left: -30px;
	top: -35px;
}
.lower{
	right: 30px;
	top: 10px;
}
.righter{
	left: 30px;
}
.lefter{
	right: 30px;
}

/*masthead*/
.masthead{
	font-family: 'Playfair Display', serif;
	margin: 50px 0px;
}
.masthead hr{
	opacity:60%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.masthead a{
	color: #424141;
	text-decoration: none;
}
.masthead a:hover{
	text-decoration: underline;
}